@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.portfolio {
  height: 100%;

  &_section {
    &_title {
      font-size: 40px;
      color: white;
      text-align: center;
      padding: 30px;
      span {
        color: var(--blue-theme-main-color);
      }
    }
  }

  &_box {
    color: azure;
    width: 354px;
    height: 277px;
    background-size: cover;

    background-repeat: no-repeat;

    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    margin: 10px; /* Adjust margin as needed */

    position: relative;
    box-shadow:0px 3px 6px 4px var(--blue-theme-main-color);
    overflow: hidden;

    align-items: center;

    cursor: pointer;

    &_desc {
        font-size: 20px;
        font-family: "Kanit", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align: justify;
        overflow: scroll;
        padding: 5px 25px;
      }

    &_title {
      top: 231px;
      position: absolute;
      border-radius: 20px 20px 0px 0px;
      font-size: 20px;
      font-family: "Kanit", sans-serif;
      font-weight: 500;
      font-style: normal;
      text-align: center;
      color: rgb(50, 50, 50);
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      transition: 0.2s ;
      box-shadow: 0px 3px 13px 3px #212121;
      background-color: rgba(255, 255, 255, 0.884);
      
      &.active {
        transition: .2s ease-in;
        border-radius: 0px;
        height: 100%;
        top: 0;
        overflow-y: scroll;
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none;
      }
      ::-webkit-scrollbar {
        display: none;
      
    }
}
  }
  &_container {
    justify-content: space-around;
    padding-right: 135px;
    padding-top: 30px;
    grid-template-columns: repeat(3, 231px);
  }
}

@media only screen and (max-width:930px) {

  .portfolio_container {
    justify-content: space-around;
    padding-right: 135px;
    padding-top: 30px;
    grid-template-columns: repeat(1, 231px);
  }

}

@media (min-width: 930px) and (max-width: 1240px) {
  .portfolio_container{
    grid-template-columns: repeat(2, 231px);
  }
}

@media only screen and (max-width:380px) {

  .portfolio_container {
    justify-content: space-around;
    padding-right: 135px;
    padding-top: 30px;
    grid-template-columns: repeat(1, 235px);
  }

}